<div id="crtSideBoxWrap">
    <div id="crtSideBox" class="clear-mrg">
        <div class="crt-side-box-1 clear-mrg">
            <div id="wdg-sticky-start"></div>
            <aside class="widget clearfix certy_widget_card">
                <div class="crt-card bg-primary text-center">
                    <div class="crt-card-avatar"><span class="crt-avatar-state"> <span
                                    class="crt-avatar-state1">
                                <a href="/">
                                    <img class="avatar avatar-195" alt="" src={{asset('images/JHBEcj7czFs.jpg')}}>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="crt-card-info clear-mrg"><h2 class="text-upper">Кирилл Скорняков</h2>
                        <p class="text-muted">Frontend developer</p>
                        <ul class="crt-social clear-list">
                            <li>
                                <a target="_blank" href="https://vk.com/skornkir">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://fb.com/kirskorn">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://https://www.instagram.com/skornkir">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="skype:kirmasterkir?call">
                                    <i class="fab fa-skype"></i>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="https://github.com/skornkir">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </aside>
            <aside class="widget clearfix widget_text">
                <div class="textwidget"><p>
                    <a class="btn btn-lg btn-default" target="_blank"
                               href="#">Скачать резюме</a>
                    </p></div>
            </aside>
        </div>
    </div>
</div>