<div class="crt-paper-layers crt-animated">
    <div class="crt-paper clear-mrg clearfix">
        <div class="crt-paper-cont paper-padd clear-mrg">
            <section id="contacts" class="section padd-box"><h2 class="title-lg text-upper">Связаться со мной</h2>
                <div class="padd-box-sm">
                    {{ form_start(contactForm) }}
                    {#{{ form_widget(contactForm) }}#}
                    {#{{ form_end(contactForm) }}#}
                </div>
            </section>
        </div>
    </div>
</div>
