<div class="crt-paper-layers crt-animate interests">
    <div class="crt-paper clear-mrg clearfix">
        <div class="crt-paper-cont paper-padd clear-mrg">
            <section id="interests" class="section padd-box">
                <div class="row">
                    <div class="col-sm-12 clear-mrg"><h2 class="title-lg text-upper">Interests</h2>
                        <ul class="crt-icon-list crt-icon-list-col3 clearfix">
                            <li><span class="crt-icon crt-icon crt-icon-animal-lover"></span> Animals</li>
                            <li><span class="crt-icon crt-icon crt-icon-island"></span> Travel</li>
                            <li><span class="crt-icon crt-icon crt-icon-bicycle"></span> Bicycle</li>
                            <li><span class="crt-icon crt-icon crt-icon-party"></span> Parties</li>
                            <li><span class="crt-icon crt-icon crt-icon-magic"></span> Harry Potter</li>
                            <li><span class="crt-icon crt-icon crt-icon-coffee"></span> Coffee</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>